nav{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #F3F3F3;
}
h1{
    font-size: 30px;
    color: #0085FF ;    
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
display: inline;    

align-items: center;
}

button{
    margin: 20px 50px;
    background-color: #0085FF;
    border-radius: 10px;
    border: 0ch;
    padding: 0px 70px;
}

input[type=text]{
    margin: 20px 100px;
    width: 400px;
    padding: 10px 10px;
    border: 0;
    border-radius: 10px ;
    background-color: #F3F3F3;
}

.product{
    display: flex;
    justify-content: space-around;
    background-color: #F3F3F3;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product1{
    margin-top: auto;
    margin-bottom: auto;
}

p.product1{
    font-size: 40px;
    color: #0085FF;
}

select.product1{
    height: 40px;
    width: 200px;
}

.summary{
    background-color: #F3F3F3;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

p.summary1{
    font-size: 40px;
    color: #0085FF;
    margin-top: auto;
    margin-bottom: auto;
}

button.Buy{
    
    height: 50px;
    width: 300px;
    color: white;
    font-size: 30px;
    text-align: center;
}

input.product1{
    background-color: white;
    width: 300px;
    height: 50px;
    border: 0;
    border-radius: 10px ;
    font-size: 20px;
}

button.product1{
    margin-left: -40px;
    margin-right: -40px;
    background-color: #0085FF;
    border-radius: 10px;
    border: 0ch;
    color: white;
    height: 50px;
    font-size: 30px;
    text-align: center;

}

p.product2{
    display: inline;
    padding-left: 100px;
    font-size: 25px;
}

p.product3{
    display: inline;
    padding-left: 300px;
    font-size: 25px;
}