body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0px;
}

/* Header */
header {
    border-bottom: solid 2px #CFD8DC;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.8em 0.5em 0.8em;
    font-size: 1.2em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #54a0ff;
    font-weight: bold;
}

header svg {
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #54a0ff;
}

.search svg {
    cursor: pointer;
}

.search input[type="text"] {
    padding-left: 1em;
    padding-right: 1em;
    outline: none;
    font-size: 0.6em;
}

.search input[type="text"]:hover {
    border: 2px solid #2285ff;
}

.searchbar {
    border-radius: 30px;
    border: 1px solid #54a0ff;
    margin-right: 1em;
    width: 30vw;
    height: 2em;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth input[type="button"].login {
    border: 1px solid #CFD8DC;
    background-color: white;
    color: #54a0ff;
    margin-right: 0.4em;
}

/* Cart */
.cart-container {
    padding: 2em 4em 2em 4em;
}

.cart .item {
    display: flex;
    justify-content: space-between;
    
    padding: 1em;
    margin-bottom: 2em;
    
    border-radius: 10px;
    background-color: #ECEFF1;
    box-shadow: 0px 10px 5px #CFD8DC;
    align-items: center;
}

.price-container basket {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-container svg {
   height: 1em;
   width: 1em;
   margin-left: 2em;
   cursor: pointer;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin: 0em 0em 1em 0em;
    border-top: 4px solid #54a0ff;
    font-weight: bold;
    font-size: 1.2em;
}

.summary .totalPrice {
    margin-right: 2.8em;

}

.checkout input {
    font-size: 1.5em;
    border: none;
    color: white;
    background-color: #54a0ff;
    border-radius: 10px;
    padding: 0.2em 1em 0.2em 1em;
}

.checkout {
    float: right;
    margin: 0em 0em 2em 2em;

}

