.product-page {
    padding: 4em
}

.brief-info {
    display: flex;
    justify-content: space-between;
    
}

.product-card {
    width: 45vw;
}

.edition {
    width: 35vw;
}


.container {
    border: 1px solid #dcdde1;
    box-shadow: 0px 5px 5px #dcdde1;
    background-color: #f5f6fa;
    height: 200px;
    border-radius: 10px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    
}

.container.description {
    margin-top: 4em;
    height: 300px;
    overflow: scroll;
}

input[type="button"].add-to-basket {
    margin-top: 1em;
    font-size: 1.3em;
    width: 100%;
}

.description-content {
    word-wrap: break-all;
}
