body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.2em;
}

.header{
display: inline;    

align-items: center;
}

button{
    margin: 20px 50px;
    background-color: #0085FF;
    border-radius: 10px;
    border: 0ch;
    padding: 0px 70px;
}

header {
    border-bottom: solid 2px #CFD8DC;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.8em 0.5em 0.8em;
    font-size: 1.2em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #54a0ff;
    font-weight: bold;
}

header svg {
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #54a0ff;
}

.search svg {
    cursor: pointer;
}

.search input[type="text"] {
    padding-left: 1em;
    padding-right: 1em;
    outline: none;
    font-size: 0.6em;
}

.search input[type="text"]:hover {
    border: 2px solid #2285ff;
}

.searchbar {
    border-radius: 30px;
    border: 1px solid #54a0ff;
    margin-right: 1em;
    width: 30vw;
    height: 2em;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="button"] {
    border: none;
    border-radius: 8px;
    background-color: #54a0ff;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.auth input[type="button"].login {
    border: 1px solid #CFD8DC;
    background-color: white;
    color: #54a0ff;
    margin-right: 0.4em;
}


.filter {
    color: #2e86de;
    display: flex;
    align-items: center;
}

.filter span {
    color: #808080;
    margin-right: 3em;
    margin-left: 6.5em;
}

.filter select {
    position: relative;
    border: none;
    margin-right: 8em;
}

.filter input {
    background-color: white;
    border: 1px solid #CFD8DC;
    color: #54a0ff;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
}


.product-list {
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-column-gap: 4em;
    grid-row-gap: 4em;
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 4em;
    margin-top: 1em;
    justify-content: space-evenly;
}


.main-info {
    display: flex;
    margin-bottom: 1.5em;
}

.main-info .image {
    width: 100px;
    height: 100px;
    background-color: #CFD8DC;
    border-radius: 5px;
}

.product-card {
    border: 1px solid #dcdde1;
    box-shadow: 0px 5px 5px #dcdde1;
    background-color: #f5f6fa;
    height: 325px;
    border-radius: 10px;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.product-info {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}

.product-info .title {
    font-weight: bold;
    font-size: 1.3em;
}

.product-info .company {
    margin-bottom: auto;
}

.product-info .price {
    margin-top: auto;
    font-size: 1.3em;
    font-weight: bold;
}

.price-container {
    display: flex;
    justify-content: space-between;
    
}

.view-btn input {
    text-align: right;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #54a0ff;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2em;
}

p.name {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.purchased p.name{
    margin: 2em 2em 1em 4.5em;
    color: #2285ff;
    font-size: 1.5em;
}

