body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.2em;
}

header {
    border-bottom: solid 2px #CFD8DC;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0.8em 0.5em 0.8em;
    font-size: 1.2em;
    align-items: center;
}

header p {
    font-size: 1.2em;
    color: #54a0ff;
    font-weight: bold;
    text-underline: none;
}

a:link {
    text-decoration: none;
}

header svg {
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #54a0ff;
}

.search img {
    cursor: pointer;
    background-color:#ffffff00;
    width: auto;
    height: 1.4em;
}

.search input[type="text"] {
    padding-left: 1em;
    padding-right: 1em;
    outline: none;
    font-size: 0.6em;
}

.search input[type="text"]:hover {
    border: 2px solid #2285ff;
}

.searchbar {
    border-radius: 30px;
    border: 1px solid #54a0ff;
    margin-right: 1em;
    width: 30vw;
    height: 2em;
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
}

input.blue {
    border: none;
    border-radius: 8px;
    background-color: #54a0ff;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

input.white {
    border: 1px solid #CFD8DC;
    border-radius: 8px;
    background-color: white;
    color: #54a0ff;
    font-size: 1.1em;
    cursor: pointer;
    padding: 0.1em 0.5em 0.1em 0.5em;
}

.auth input.white {
    margin-right: 0.4em;
}

.filter {
    color: #2e86de;
    display: flex;
    align-items: center;
}

.filter span {
    color: #808080;
    margin-right: 3em;
    margin-left: 6.5em;
}

.filter select {
    position: relative;
    border: none;
    margin-right: 8em;
}

.filter input {
    background-color: white;
    border: 1px solid #CFD8DC;
    color: #54a0ff;
    border-radius: 6px;
    cursor: pointer;
    padding: 5px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1em;
}


.product-list {
    display: grid;
    grid-template-columns: 22em 22em 22em;
    grid-column-gap: 4em;
    grid-row-gap: 4em;
    margin: 3em 3em 3em 3em;
    justify-content: space-evenly;
}


.main-info {
    display: flex;
    margin-bottom: 1.5em;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #bfbfbf;
}

.main-info .image {
    width: 100px;
    height: 100px;
    background-color: #CFD8DC;
    border-radius: 5px;
}

.product-card {
    border: 1px solid #dcdde1;
    box-shadow: 0px 5px 5px #dcdde1;
    background-color: #f5f6fa;
    height: 325px;
    border-radius: 10px;
    padding: 1.5em 1.5em 1.5em 1.5em;
}

.product-info {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66%;
}

.product-info .title {
    font-weight: bold;
    font-size: 1.3em;
}

.product-info .company {
    margin-bottom: auto;
}

.product-info .price {
    margin-top: auto;
    font-size: 1.3em;
    font-weight: bold;
}

.price-container {
    display: flex;
    justify-content: space-between;

}

.view-btn input {
    text-align: right;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #54a0ff;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2em;
}

p.name {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
}

.purchased p.name{
    margin: 2em 2em 1em 4.5em;
    color: #2285ff;
    font-size: 1.5em;
}

/* Auth */

.auth-container {
    margin: 10vh auto;
    background-color: #bfbfbf;
    width: 25vw;
    display: flex;
	flex-direction: column;
    border-radius: 15px;
    align-items: center;
    border: 1px solid #dcdde1;
    box-shadow: 0px 5px 5px #dcdde1;
    background-color: #f5f6fa;
    padding: 0em 2em 2em 2em;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.auth-container form div {
    display: flex;
    flex-direction: column;
}

.auth-container a input[type="button"] {
    width: 100%;
}

h2 {
    color: #54a0ff;
    margin-top: 1em;
}

form {
    width: 80%;
}

form div.or {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

form input[type="text"] {
    border: 1px solid #dcdde1;
    border-radius: 10px;
    padding: 0.3em ;
    margin-bottom: 1.5em;
    font-size: 1em;
}

input[type="text"]:focus {
    outline: 1px solid #54a0ff;
}

form input[type="button"] {
    font-size: 1.3em;
}

form input[type="submit"] {
    font-size: 1.3em;
}


/*Add product form*/
.add-product-form {
    display: flex;
    flex-direction: column;
    border: 2px solid #dcdde1;
    width: 80vw;
    margin: 8vh auto;
    box-shadow: 0px 5px 5px #dcdde1;
    background-color: #f5f6fa;
    border-radius: 15px;
    padding: 0em 2em 2em 2em;
}

.add-product-form form {
    display: flex;
	flex-direction: column;
    width: 100%;
}

.add-product-form div {
    display: flex;
    flex-direction: column;
    width: auto;
}

.add-product-form input[type="text"] {
    border: 1px solid #dcdde1;
}



